
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: bisque;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .container{
            background: rgb(134, 96, 96);
            width: 25%;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 10 10px 25px rgb(134, 96, 96);
        }

        h2{
            color: rgb(96, 43, 43);
            margin-bottom: 50px;
        }

        label{
            display:block;
            margin-bottom: 20px;
            font-weight: bold;
            border-radius: 10px;
        }

        input,select{
              width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid sandybrown;
            border-radius: 10px;
        }

        button{
            width: 20%;
            margin-top: 10px;
            padding: 2px;
            background-color: rgb(113, 33, 33);
            border-radius: 6px;
            color: beige;
            border: none;
            font-size: 12px;
            cursor: pointer;
        }

        button:hover{
            background-color: antiquewhite;
        }
    